abbr {
	font-weight: bolder;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: serif;
	font-size: 22px;
}

section {
	margin: 20px;
	padding: 10px 0;
	font-family: sans-serif;
	line-height: 1.4em;
	font-size: 18px;
	box-shadow: 2px 2px 2px silver;
}