section {
	padding: 10px;
	font-family: sans-serif;
	line-height: 1.4em;
	font-size: 18px;
}

article {
	margin: 20px 0;
	padding: 10px;
	box-shadow: 2px 2px 2px silver;
}

abbr {
	font-weight: bold;
	text-decoration: none;
	font-family: verdana;
}
