/* form style for creating new account */

form {
	width: 70%;
	margin: 30px auto;
	box-shadow: 2px 2px 5px grey;
	border-radius: 20px;
	text-align: center;
}

fieldset {
	padding: 10px 20px;
	border: none;
}

legend {
	font-family: serif;
	font-size: 30px;
	text-transform: capitalize;
	background-color: lightgrey;
	box-shadow: 2px 2px 2px silver;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
	width: 70%;
	padding: 15px 0px;
	border: 1px solid #ccc;
	border-radius: 30px;
	box-sizing: border-box;
	font-size: 18px;
	text-align: center;
}

label {
	font-family: tahoma;
	font-size: 20px;
	text-transform: capitalize;
	display: block;
	margin: 10px auto;
}

div {
	font-size: 20px;
	margin: 20px 0px;
	text-align: center;
}

.inline-gender {
	display: inline;
	margin: 0px 8px;
}

select[name=courses], select[name=colleges] {
	width: 60%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 15px;
	font-family: verdana;
}

div > p {
	margin-bottom: 20px;
}

/* tos = Terms of Service*/
.tos { 
	color: dodgerblue;
	font-family: verdana;
}

button {
	padding: 10px;
	width: 30%;
	font-size: 18px;
	text-transform: capitalize;
	font-family: tahoma, sans-serif;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	box-shadow: 2px 2px 4px grey;
}


@media screen and (max-width: 500px) {
	form {
		width: 98%;
	}

	legend {
		font-size: 25px;
	}

	input[type=text], input[type=email], input[type=password] {
		width: 95%;
		display: block;
		margin: 2px auto 10px;
	}

	select[name=colleges], select[name=courses] {
		display: block;
		width: 95%;
		margin: auto;
	}

	label > span {
		font-weight: bold;
	}

	div > p {
		font-size: 16px;
	}

	button {
		width: 70%;
		letter-spacing: 2px;
	}

	legend {
		font-size: 17px;
	}

	span#gender {
		display: none;
	}
}