
section {
	box-shadow: 2px 2px 3px grey,  -1px -1px 2px grey;
	background-color: silver;
	width: 95%;
	margin: auto;
	height: 450px;
}

fieldset {
	width: 95%;
	margin: auto;
	padding: 5px 0px;
	position: relative;
	border: none;
}

textarea {
	width: 85%;
	resize: none;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 15px;
}

button {
	background-color: #4CAF50;
	color: white;
	width: 15%;
	margin: auto;
	position: absolute;
	top: 13px;
	padding: 10px 0px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px grey;
	font-size: 16px;
}












