p {
  font-size: 20px;
  text-align: center;
  margin: 10px 0px;
}

form {
  width: 60%;
  margin: 30px auto;
  background-image: url("../img/dark.jpg");
  text-align: center;
  box-shadow: 3px 3px 2px grey;
  border-radius: 20px;
}

fieldset {
  border: none;
  padding: 10px 0;
  font-family: tahoma;
  color: white;
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 5px; 
  border-bottom: 1px dashed grey;
  font-size: 30px;
}

label {
  display: block;
}

input[type=text], input[type=email] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 18px;
  text-align: center;
}

textarea {
  width: 60%;
  height: 100px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
  font-size: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 10px 0px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: auto;
  width: 20%;
}
