
.intro {
  text-align: center;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 1px silver;
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px 2px dimgray;
}

.intro small {
  display: block;
  font-family: tahoma;
  color: blue;
  font-size: 17px;
  line-height: 1.5em;
}

.desc {
  margin: 20px 10px;
}

p {
  margin: 10px 5px;
  padding: 10px 5px;
  box-shadow: 3px 3px 4px silver;
  font-size: 18px;
  line-height: 1.5em;
}

form {
  margin: 30px auto;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px 2px grey, -1px -1px 2px grey;
  border-radius: 20px;
  background-image: url("../img/dark.jpg");
}

fieldset {
  border: none;
  padding: 20px 0;
}

label {
  display: block;
}

input[type=text], input[type=email] {
  width: 55%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 16px;
  font-size: 18px;
  text-align: center;
}

input[type=submit], span {
  text-transform: capitalize;
  color: white;
  font-size: 17px;
  border-radius: 30px;
  background-color: #4CAF50;
  cursor: pointer;
  width: 20%;
  padding: 8px 5px;
  border: none;
  margin: 10px;
}

fieldset span {
  padding: 8px 25px;
}


@media screen and (max-width: 450px) {
  form {
    width: 85%;
  }

  input[type=text], input[type=email] {
    width: 75%;
  }

  input[type=submit] {
    width: 40%;
    display: block;
    margin: 10px auto; 
  }
}