*{
    box-sizing: border-box;
}

body{
    margin: 1% 5%;
    font-family: Arial, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

header{
    background-color: rgb(33, 33, 51);
    overflow: hidden;
    padding: 5px;
}

header nav{
    display: flex;
}

header nav ul{
    display: flex;
    margin: auto;
}

header nav ul li{
    flex-basis: 50px;
}

header nav ul li a{
    border: 1px solid rgb(129, 129, 185);
    color: rgb(240, 146, 6);
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0px 5px;
    font-size: 20px;
}

header nav ul li a:hover{
    background-color: rgb(130, 160, 180);
    color: white;
}

nav span{
    width: 100px;
    height: 100px;
    color: rgb(214, 146, 57);
    background-color: rgb(127, 134, 134);
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(60, 60, 102);
    box-shadow: 2px 2px 2px rgb(65, 42, 42);
    border-radius: 50%;
    font-size: 30px;
    letter-spacing: 3px;
    padding-top: 30px;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}

ul{
    list-style-type: none;
    list-style-position: inside;
}

ul a{
    text-decoration: none;
    color: blue;
}


footer{
    font-style: italic;
    background-color: khaki;
}

footer ul{
    display: flex;
}

@media screen and (max-width: 470px){
    nav span{
        width: 50px;
        height: 50px;
    }

    header{
        background-color: rgb(211, 211, 211);
        position: sticky;
        top: 0px;
    }

    header nav{
        flex-direction: column;
        overflow: hidden;
    }

    header nav ul{
        padding: 0px;
        flex-wrap: wrap;
    }

    header nav ul li a{
        color: rgb(190, 89, 21);
        padding: 5px 8px;
        display: inline-block;
    }

    nav span{
        width: 80px;
        height: 80px;
        padding-top: 20px;
        letter-spacing: 2px;
        margin: auto;
        margin-bottom: 10px;
    }
}
