*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{ font-size: 62.5%;}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: slategray;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calendar{
  position: relative;
  padding: 1em;
  border: 1px solid black;
  min-height: 200px;
  width: 80%;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.35rem;
}

.day, .year{
  width: 100%;
  background-color: salmon;
  position: absolute;
  text-align: center;
  padding: .3em;
}

.date{ font-size: 5rem; }
.day{ top: 0; }
.year{ bottom: 0; }

.time{
  font-size: 2.35rem;
  color: #f4f4f4;
  padding: .5em;
}

@media screen and (min-width: 576px) {
  .calendar{ width: 50%; }
}

@media screen and (min-width: 768px) {
  .calendar{ width: 40%; }
}

@media screen and (min-width: 992px) {
  .calendar{ width: 25%; }
}
